In [112]:
import pandas as pd
import src.parse_funcs as parse
import csv
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

In [81]:
df = pd.read_csv('data/attractions.csv')
df[:5]

,country,attraction,url,last_page_number
0,Australia,Sydney_Harbour-Sydney_New_South_Wales,http://www.tripadvisor.com/Attraction_Review-g...,1520
1,Australia,Australian_War_Memorial-Canberra_Australian_Ca...,http://www.tripadvisor.com/Attraction_Review-g...,751
2,Australia,Bondi_to_Coogee_Beach_Coastal_Walk-Sydney_New_...,http://www.tripadvisor.com/Attraction_Review-g...,955
3,Australia,Sydney_Opera_House-Sydney_New_South_Wales,http://www.tripadvisor.com/Attraction_Review-g...,1340
4,Australia,Shrine_of_Remembrance-Melbourne_Victoria,http://www.tripadvisor.com/Attraction_Review-g...,408

In [94]:
url= df[df['country'] == "Australia"].url[4]

In [95]:
r,soup = parse.soupify(url)

In [96]:
address = soup.find_all('div', 'detail_section address')

In [100]:
address[0].get_text()
#r[0].string

u'St. Kilda Road, Melbourne, Victoria 3001, Australia'

In [101]:
def address_extract(url):
    r,soup = parse.soupify(url)
    address = soup.find_all('div', 'detail_section address')
    return address[0].get_text()

In [104]:
list_of_urls = df.url
list_of_address = []
for x in list_of_urls:
    list_of_address.append(address_extract(x))

In [113]:
location_data = zip(df.country, df.attraction, list_of_address)

In [114]:
with open('data/location.csv','wb') as out:
    csv_out=csv.writer(out)
    csv_out.writerow(['country','attraction','address'])
    for row in location_data:
        csv_out.writerow(row)

# Getting Images for each location

In [20]:
def get_img(soup):
    image=[]
    images = soup.find_all('div','prw_rup prw_common_centered_image photo')
    links = []
    for x in images:
        image.extend(x.find_all('img', 'centeredImg noscript'))

    for x in image:
        links.append(str(x.get('src')))
    return links

In [21]:
image = get_img(soup)

In [23]:
image

['https://media-cdn.tripadvisor.com/media/photo-s/0d/43/95/3a/caption.jpg',
 'https://media-cdn.tripadvisor.com/media/photo-s/0d/43/95/4a/caption.jpg',
 'https://media-cdn.tripadvisor.com/media/photo-s/0d/43/95/78/caption.jpg',
 'https://media-cdn.tripadvisor.com/media/photo-w/10/d6/26/35/okavango-house-boats.jpg',
 'https://media-cdn.tripadvisor.com/media/photo-s/10/d6/26/60/okavango-house-boats.jpg',
 'https://media-cdn.tripadvisor.com/media/photo-w/10/d6/26/88/okavango-house-boats.jpg',
 'https://media-cdn.tripadvisor.com/media/photo-s/10/d6/26/ab/okavango-house-boats.jpg',
 'https://media-cdn.tripadvisor.com/media/photo-w/10/f1/cb/79/photo2jpg.jpg',
 'https://media-cdn.tripadvisor.com/media/photo-s/10/f1/cb/7a/photo3jpg.jpg']

### Automating for all URLs

In [28]:
i = 0

images_total = []

for x in df.url:
    r , soup = parse.soupify(x)
    image = get_img(soup)
    i+=1
    if i%10 == 0:
        print i
    images_total.append(image)

10
20
30
40
50
60
70
80
90
100
110
120
130
140
150
160
170
180
190
200
210
220
230
240
250
260
270
280
290
300
310
320
330
340
350
360
370
380
390
400
410
420
430
440
450
460
470
480
490
500
510
520
530
540
550
560
570
580
590
600
610
620
630
640
650
660
670
680
690
700
710
720
730
740
750
760
770
780
790
800
810
820
830
840
850
860
870
880
890
900
910
920
930
940
950
960
970
980
990
1000
1010
1020
1030
1040
1050
1060
1070
1080
1090
1100
1110
1120
1130
1140
1150
1160
1170
1180
1190
1200
1210
1220
1230
1240
1250
1260
1270
1280
1290
1300
1310
1320
1330
1340
1350
1360
1370
1380
1390
1400
1410
1420
1430
1440
1450
1460
1470
1480
1490
1500
1510
1520
1530
1540
1550
1560
1570
1580
1590
1600
1610
1620
1630
1640
1650
1660
1670
1680
1690
1700
1710
1720
1730
1740
1750
1760
1770
1780
1790
1800
1810
1820
1830
1840
1850
1860
1870
1880
1890
1900
1910
1920
1930
1940
1950
1960
1970
1980
1990
2000
2010
2020
2030
2040
2050
2060
2070
2080
2090
2100
2110
2120
2130
2140
2150
2160
2170
2180
2190
2200
2210
2220
2230
2240
2250

In [37]:
i_len = map(len, images_total)

In [56]:
attraction =[]
for i in range(len(df.attraction)):
    attraction.append([df.attraction[i]]*i_len[i])

In [59]:
attraction_label = []
for x in attraction:
    attraction_label +=x

In [62]:
img_links = []
for x in images_total:
    img_links+=x

In [64]:
imgs = zip(attraction_label, img_links)

In [68]:
with open('data/images.csv','wb') as out:
    csv_out=csv.writer(out)
    csv_out.writerow(['attraction','image_url'])
    for row in imgs:
        csv_out.writerow(row)